.listaHome {
    background-color: #03989e;
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    color: #022C2F;
}

.itemListaHome {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.textoItemListaHome {
    padding: 0 5rem 1rem 5rem;
    text-align: justify;
    font-size: 1.5rem;
}

.tituloItemListaHome {
    padding: 1.5rem;
    text-align: center;
    font-size: 2rem;
}

.imagemItemListaHome {
    margin-top: 3rem;
    width: 48.75rem;
    height: 28.75rem;
    border-radius: 1rem;
    min-width: none;
    min-height: none;
    border: 0.125rem solid #022C2F;
}

.videoHome {
    margin-top: 1rem;
    margin-bottom: 3rem;
    width: 48.75rem;
    height: 28.75rem;
    box-sizing: border-box;
    border: 0.125rem solid #022C2F;
    border-radius: 0.625rem;
}

@media screen and (max-width: 768px) {
    .listaHome {
        padding: 0;
    }

    .textoItemListaHome {
        padding: 0;
        font-size: 0.75rem;
        width: auto;
    }

    .imagemItemListaHome {
        display: none;
    }

    .tituloItemListaHome {
        padding: 0.25rem;
        font-size: 1.25rem;
    }

    .videoHome {
        width: auto;
        height: auto;
        margin-top: 0.25rem;
    }
}