.containerCadastros {
    background-color: #03989e;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1rem 0;
}

.cadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    flex-wrap: wrap;
    margin: 1rem;
}

.tituloCadastro {
    font-size: 2.5rem;
    padding: 2rem;
    text-transform: uppercase;
    color: #022C2F;
}

.labelCadastro {
    font-size: 2rem;
    color: #022C2F;
}

.inputCadastro {
    position: relative;
    font-size: 2rem;
    box-sizing: border-box;
    border: 0.125rem solid #022C2F;
    border-radius: 0.625rem;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}

.inputCadastro::placeholder {
    font-size: 1.5rem;
}

.inputCadastro:hover {
    box-shadow: 0.125rem 0.125rem 0.125rem #022C2F;
    transform: scale(1.025);
    transition-duration: 0.1s;
}

@media screen and (max-width: 768px) {
    .tituloCadastro {
        font-size: 2.5rem;
        text-align: center;
    }
}