.containerLogin {
    background-color: #03989e;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1rem 0;
}

.login, .userDetail {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    flex-wrap: wrap;
    margin: 1rem;
}

.textoNegrito {
    font-size: 2rem;
    color: #022C2F;
    padding: 0.5rem;
}

.spanLogin {
    font-size: 1.5rem;
    color: #022C2F;
    padding-bottom: 0.5rem; 
}

.tituloLogin {
    font-size: 2.5rem;
    padding: 2rem;
    text-transform: uppercase;
    color: #022C2F;
}

.labelLogin {
    font-size: 2rem;
    color: #022C2F;
}

.inputLogin {
    position: relative;
    font-size: 2rem;
    box-sizing: border-box;
    border: 0.125rem solid #022C2F;
    border-radius: 0.625rem;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}

.inputLogin::placeholder {
    font-size: 1.5rem;
}

.inputLogin:hover {
    box-shadow: 0.125rem 0.125rem 0.125rem #022C2F;
    transform: scale(1.025);
    transition-duration: 0.1s;
}

.botaoLogin {
    background-color: #079480;
    font-size: 1.5rem;
    box-sizing: border-box;
    border: 0.125rem solid #022C2F;
    text-transform: uppercase;
    color: #022C2F;
    border-radius: 0.625rem;
    padding: 0.75rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.botaoLogin:hover {
    cursor: pointer;
    box-shadow: 0.125rem 0.125rem 0.125rem #022C2F;
    transform: scale(1.025);
    transition-duration: 0.1s;
}

@media screen and (max-width: 768px){
    .tituloLogin {
        font-size: 2.5rem;
        text-align: center;
    }
}